<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732632778398-is13u1ujicdrdo0ah3hib4mkdu1u1o0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732632778398-is13u1ujicdrdo0ah3hib4mkdu1u1o0m</string>
	<key>API_KEY</key>
	<string>AIzaSyDI-CKZNvCTu5dA4-1ov49K7pfAnPFVtCE</string>
	<key>GCM_SENDER_ID</key>
	<string>732632778398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.guen.lingoes</string>
	<key>PROJECT_ID</key>
	<string>lingoes-c143a</string>
	<key>STORAGE_BUCKET</key>
	<string>lingoes-c143a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732632778398:ios:9778cde431fbd141481d8f</string>
</dict>
</plist>